$bannerColour:#232f3e;

.banner_1 {
    background:$bannerColour;
    bottom:0;
    box-sizing:border-box;
    position:fixed;
    text-align:center;
    width:100%;
    z-index:99;
}
.button_1 {
    display:inline-block;
    margin:10px 0;
    padding:0;
    width:200px;
}
select#qty {
    bottom:19px;
    display:inline-block;
    height:35px;
    position:relative;
    right:10px;
    width:43px;
  }
.hide {display:none;}
